.type-44 .module-ct {
  padding: 0;
  color: #999999;
}
.type-44 .module-ct {
  color: #999999;
}
.type-44 li a {
  color: #999999;
  padding: 0px 0px 10px;
  text-transform: capitalize;
}
.type-44 li a:hover {
  background: none;
  color: #c33;
}
.type-44 .module-title {
  box-shadow: none;
  border: none;
  color: #fff;
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px;
}
.type-44 .t3-footer {
  border-top: none;
  background: none;
  color: #666;
  transition: ease-in-out .15s all;
}
.type-44 .t3-footer .container {
  background: #111;
  border-top: solid 1px #333;
  padding-top: 50px;
  padding-bottom: 50px;
}
.type-44 .t3-copyright {
  border-top: none;
  font-size: 12px;
  padding: 0;
  text-align: left;
}
.type-44 .t3-footnav .module-title {
  box-shadow: none;
  border: none;
  font-size: 12px;
  color: #fff;
  font-weight: bolder;
  margin: 0;
  padding-top: 0;
  padding-bottom: 15px;
}
.type-44 .t3-copyright .footer-left {
  margin-left: 20px;
  margin-right: 20px;
}
.type-44 .t3-copyright .logo {
  background: url(../images/logo-footer.png) no-repeat left top;
  border: none;
  display: block;
  font-size: 0px;
  float: none;
  height: 17px;
  margin-top: 3px !important;
  margin-bottom: 15px !important;
  text-indent: -999em;
  width: 70px;
}
.type-44 .logo {
  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  height: 50px;
  float: left;
  display: inline-block;
}
.type-44 .t3-footer .footer-left a {
  color: gray;
}
.type-44 .t3-copyright .copyright {
  margin-bottom: 20px;
}
.type-44 .t3-footer small {
  display: block;
  font-size: 11px;
  margin-bottom: 5px;
}
.type-44 .poweredby {
  text-align: left;
}
.type-44 .poweredby .t3-logo,
.type-44 .poweredby .t3-logo-small {
  opacity: .8;
  display: inline-block;
}
.type-44 .t3-logo,
.type-44 .t3-logo-small {
  display: block;
  text-decoration: none;
  text-indent: -9999em;
  text-align: left;
  background-repeat: no-repeat;
  background-position: center;
}
.type-44 .footer-social .t3-module {
  background: transparent;
  border: none;
}
.type-44 .footer-social .module-title {
  border: none;
  color: #fff;
  margin: 0;
  font-weight: bolder;
  padding-top: 0;
  padding-bottom: 15px;
}
.type-44 .module-title {
  background: inherit;
  border-bottom: solid 1px #e5e5e5;
  color: #222;
  font-family: 'novecento_wide_bookbold', Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
}
.type-44 .footer-social .module-ct {
  padding-top: 10px;
}
.type-44 .t3-module .module-ct {
  padding: 0px;
}
.type-44 .t3-footnav .t3-module ul {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}
.type-44 .t3-footnav ul li a:hover,
.type-44 .t3-footnav ul li a:focus,
.type-44 .t3-footnav ul li a:active {
  background: none;
  color: #c33;
}
.type-44 .t3-footer .footer-left a:hover,
.type-44 .t3-footer .footer-left a:focus,
.type-44 .t3-footer .footer-left a:active {
  color: #c33;
}
.type-44 .footer_menu .t3-module {
  background: transparent;
  border-bottom: none;
  color: inherit;
}
.type-44 .t3-footnav .module-ct {
  padding-top: 0;
  padding-bottom: 0;
}
.type-44 .module-ct {
  background: inherit;
  color: inherit;
}
.type-44 ul {
  list-style: disc;
  padding: 0px;
}
.type-44 .footer-social ul li {
  list-style: none;
  margin-bottom: 15px;
}
.type-44 li {
  line-height: 20px;
}
.type-44 .t3-footer a {
  color: #666;
}
.type-44 .footer-social ul li.facebook span {
  background-position: 0 0;
}
.type-44 .footer-social ul li span {
  background-image: url(../images/ico-social.png);
  background-repeat: no-repeat;
  background-color: #444;
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}
.type-44 .footer-social ul li.twitter span {
  background-position: 0px -20px;
}
.type-44 .footer-social ul li.flicker span {
  background-position: 0 -40px;
}
.type-44 .footer-social ul li.feed span {
  background-position: 0 -60px;
}
.type-44 .t3-footnav .t3-module {
  margin-top: 0px;
}
.type-44 a:hover,
.type-44 a:focus,
.type-44 a:active {
  color: #c33;
  text-decoration: none;
}
.type-44 .footer-social ul li a:hover span {
  background-color: #c33;
}
.type-44 .t3-logo-light {
  background-image: url("../images/t3logo-big-light.png");
}
.type-44 .t3-logo {
  width: 182px;
  height: 50px;
}
.type-44 .t3-navhelper {
  color: #666;
}
.type-44 .t3-navhelper .breadcrumb {
  background-color: transparent;
  color: #666;
  margin: 0 !important;
  padding: 10px 0 !important;
  text-transform: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.type-44 .t3-navhelper .breadcrumb .active {
  color: #fff;
}
.type-44 .t3-navhelper .breadcrumb li {
  text-shadow: none;
  display: block;
  float: left;
  margin-bottom: 10px;
}
.type-44 .t3-navhelper .breadcrumb li > span {
  float: left;
}
.type-44 .t3-navhelper .container {
  background: #222;
}
.type-44 #back-to-top {
  background: url(../images/back-to-top.png) no-repeat;
  cursor: pointer;
  display: block;
  font-size: 0;
  float: right;
  margin-top: 10px;
  line-height: 20px;
  height: 20px;
  text-indent: -999em;
  width: 20px;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0,1,0.5,1);
}
.type-44 #back-to-top:hover,
.type-44 #back-to-top:focus,
.type-44 #back-to-top:active {
  background-position: left bottom;
}
.type-44 .footer-social {
  border-left: 1px solid #3c3030;
}
.type-44 .borderL {
  border-left: 1px solid #3c3030;
}
@media (max-width: 767px) {
  .type-44 .borderL {
    border-left: none;
    border-bottom: 1px solid #3c3030;
    margin: 10px 0px;
  }
  .type-44 .t3-copyright {
    padding-bottom: 20px;
    border-bottom: 1px solid #3c3030;
  }
  .type-44 .footer-social {
    border-left: none;
  }
}
@media (max-width: 990px) and (min-width: 768px) {
  .type-44 .poweredby {
    padding-bottom: 50px;
  }
}
