.type-1100 .blog {
  color: white;
  background: brown;
  font-size: 36px;
  text-align: left;
  letter-spacing: 0.17em;
  font-weight: 700;
  padding: 30px 0 30px 50px;
}
.type-1100 .main {
  margin: 0 0px;
}
.type-1100 .main .main-blog-post {
  padding: 0;
}
.type-1100 .main .main-blog-post .post {
  display: table-row;
}
.type-1100 .main .main-blog-post .post .post-time {
  height: 582px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding: 0;
  color: #EEE;
  background: #106EAA;
}
.type-1100 .main .main-blog-post .post .post-time .arrow {
  border-left-color: #106eaa;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  position: absolute;
  right: -20px;
  top: 35px;
  width: 20px;
  border-color: transparent #106eaa;
}
.type-1100 .main .main-blog-post .post .post-time .author {
  text-align: center;
  word-break: break-all;
  padding: 0 18px;
}
.type-1100 .main .main-blog-post .post .post-time .author div {
  padding-top: 5px;
  font-size: 20px;
}
.type-1100 .main .main-blog-post .post .post-time .date {
  color: #FFF;
  margin-top: 100px;
  background: rgba(0,0,0,0.15);
  padding: 15px;
  text-align: center;
}
.type-1100 .main .main-blog-post .post .post-time .date .day {
  color: #FFF;
  font-size: 2.3em;
  padding-bottom: 10px;
  display: block;
}
.type-1100 .main .main-blog-post .post .post-time .date .month {
  color: #FFF;
}
.type-1100 .main .main-blog-post .post .post-time .date .year {
  color: #FFF;
  display: block;
  padding: 2px;
}
.type-1100 .main .main-blog-post .post .post-time .comment-count {
  margin-top: 100px;
}
.type-1100 .main .main-blog-post .post .post-time .comment-count div {
  font-size: 1em;
  color: #FFF;
  padding-bottom: 6px;
}
.type-1100 .main .main-blog-post .post .post-content {
  padding: 0 30px;
  margin-bottom: 20px;
}
.type-1100 .main .main-blog-post .post .post-content .node-title {
  font-size: 2.05em;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.type-1100 .main .main-blog-post .post .post-content .node-title a {
  text-decoration: none;
}
.type-1100 .main .main-blog-post .post .post-content p {
  padding: 14px 20px;
  line-height: 1.714;
  font-size: 15px;
  margin: 0;
  display: block;
}
.type-1100 .main .main-blog-post .post .post-content .active-node-title {
  border-color: #106EAA;
  background-color: #106EAA !important;
  color: #FFF;
  cursor: auto;
}
.type-1100 .main .main-blog-post .post .post-content .active-node-title-p {
  display: block;
}
.type-1100 .main .main-blog-post .post .post-content .text-secondary {
  margin-top: 20px;
  line-height: 1.714;
  font-size: 15px;
}
.type-1100 .main .main-blog-post .post .post-content .pic img {
  width: 100%;
  height: 100%;
}
.type-1100 .main .main-blog-post .post .post-content .read-more-btn {
  margin-top: 20px;
  background: transparent;
  color: #555;
  border: 1px solid #cfcfd0;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
  transition: 0.5s ease-out;
  cursor: pointer;
  padding: 14px 28px;
}
.type-1100 .main .main-blog-post .post .post-content .read-more-btn:hover {
  color: #fff;
  background-color: #106EAA;
  border-color: #106EAA;
  padding-left: 35px;
  padding-right: 35px;
  transition: all 0.5s;
}
.type-1100 .main .sidebar {
  padding: 0;
}
.type-1100 .main .sidebar section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.type-1100 .main .sidebar section .search-form {
  float: left;
  border: none;
}
.type-1100 .main .sidebar section .search-form form {
  display: inline-block;
  margin: 0;
}
.type-1100 .main .sidebar section .search-form .input-d {
  float: left;
}
.type-1100 .main .sidebar section .search-form input {
  background: transparent;
  outline: 0;
  color: #000;
  max-width: 0;
  width: 100%;
  height: 52px;
  border: 1px solid transparent;
  padding: 0;
  border-radius: 2px;
  -webkit-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}
.type-1100 .main .sidebar section .search-form .s-btn {
  background: #106EAA;
  border: 1px solid #106EAA;
  border-radius: 2px;
  font-size: 14px;
  padding: 15px;
}
.type-1100 .main .sidebar section .search-form .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  color: #fff;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.type-1100 .main .sidebar section .search-form .s-btn {
  border: 1px solid #106EAA;
  border-left: 0;
  background: #106EAA;
}
.type-1100 .main .sidebar section .search-form input {
  max-width: 150px;
  padding: 5px 5px;
  border: 1px solid #106EAA;
  border-right: 0;
  background: #f7f7f7;
}
.type-1100 .main .sidebar section .block-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 50px;
  font-weight: 700;
}
.type-1100 .main .sidebar section a {
  text-decoration: none;
}
.type-1100 .main .sidebar section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.type-1100 .main .sidebar section ul>li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.type-1100 .main .sidebar section ul>li i {
  margin-top: 2px;
  margin-right: 15px;
}
.type-1100 .main .sidebar section ul>li a {
  color: #000;
  text-decoration: none;
}
@media (max-width: 767px) {
  .type-1100 .post {
    display: inline;
  }
  .type-1100 .post .post-time {
    position: relative;
    height: 100px !important;
  }
  .type-1100 .post .post-time .arrow {
    display: none;
  }
  .type-1100 .post .post-time .author {
    position: absolute;
  }
  .type-1100 .post .post-time .author div {
    font-size: 1em !important;
  }
  .type-1100 .post .post-time .date {
    position: absolute;
    left: 37%;
    bottom: 0;
    padding: 40px !important;
    display: inline;
  }
  .type-1100 .post .post-time .date .day {
    font-size: 1em !important;
    display: inline !important;
  }
  .type-1100 .post .post-time .date .year {
    display: inline !important;
  }
  .type-1100 .post .post-time .comment-count {
    position: absolute;
    right: 5%;
    bottom: 30%;
    display: inline;
  }
}
@media (max-width: 670px) {
  .type-1100 .post-content .node-title {
    font-size: 1.4em !important;
  }
}
@media (max-width: 469px) {
  .type-1100 .date {
    left: 30% !important;
  }
  .type-1100 .post-content {
    padding: 0 15px !important;
    margin: 0 !important;
  }
  .type-1100 .post-content .node-tile {
    font-size: 7px !important;
  }
  .type-1100 .post-content .read-more-btn {
    font-size: 7px !important;
    padding: 10px 15px !important;
  }
  .type-1100 .post-content .read-more-btn:hover {
    padding-left: 17px !important;
    padding-right: 17px !important;
  }
}
@media (max-width: 354px) {
  .type-1100 .date {
    left: 25% !important;
  }
  .type-1100 input {
    width: 100%;
    height: 32px !important;
  }
  .type-1100 .s-btn {
    font-size: 10px !important;
    padding: 8px !important;
  }
}
@media (max-width: 324px) {
  .type-1100 input {
    width: 100%;
    height: 27px !important;
  }
  .type-1100 .s-btn {
    font-size: 7px !important;
    padding: 8px !important;
  }
}
@media (max-width: 320px) {
  .type-1100 .search-form:hover input {
    max-width: 100px !important;
  }
}
@media (max-width: 268px) {
  .type-1100 .search-form:hover input {
    max-width: 60px !important;
  }
}
